.header-container {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    background-color: rgb(63, 63, 199);
    align-items: center;
}

.main-left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-left-section ul {
    display: flex;
    flex-direction: row;
}

.sub-left-section ul li {
    color: white;
    font-size: 20px;
    margin-right: 14px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 500;
}