<div class="header-container">
    <div class="main-left-section">
        <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="angular icon">
        <div class="sub-left-section">
            <ul>
                <li>FEATURES</li>
                <li>DOCS</li>
                <li>RESOURCES</li>
                <li>EVENTS</li>
                <li>BLOG</li>
            </ul>
        </div>
    </div>

    <div class="main-right-section">
        <p>Right</p>
    </div>
</div>